node_modules
dist
build

.env
.env.local
.env.*.local

.DS_Store

coverage

.prisma

storage/music/originals/*
storage/music/covers/*
storage/music/temp/*

!storage/music/originals/.gitkeep
!storage/music/covers/.gitkeep
!storage/music/covers/albums/.gitkeep
!storage/music/covers/tracks/.gitkeep
!storage/music/temp/.gitkeep